<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lyffin.codedemo.mybatis.mapper.UserMapper">

    <select id="queryUserList" resultType="User">
        select * from mydb.user
    </select>

    <select id="queryUserByName" parameterType="String" resultType="User">
        select * from mydb.user
        where name = #{name}
    </select>

    <!--foreach语法
    <where>
        <if test="deviceIdList != null">
            AND TB_DEVICE_LATEST_VERSION.DEVICE_ID in
            <foreach collection="deviceIdList" item="id" index="index"
                     open="(" close=")" separator=",">
                #{id}
            </foreach>
        </if>
    </where>
    -->


</mapper>
